<h2><%= @company.brand_name.upcase %></h2>

<section>
  <h3>DADOS CADASTRAIS</h3>
  <dl>
    <dt><strong><%= Company.human_attribute_name(:registration_number).upcase %>: </strong></dt>
    <dd><%= @company.registration_number %></dd>
    <dt><strong><%= Company.human_attribute_name(:corporate_name).upcase %>: </strong></dt>
    <dd><%= @company.corporate_name.upcase %></dd>
  </dl>
</section>

<section>
  <h3>LOCALIZAÇÃO</h3>
  <dl>
    <dt><strong><%= Company.human_attribute_name(:billing_address).upcase %>: </strong></dt>
    <dd><%= @company.billing_address.upcase %></dd>
    <dt><strong>CIDADE | ESTADO: </strong></dt>
    <dd><%= @company.city.upcase %> | <%= @company.state %></dd>
    <dt><strong><%= Company.human_attribute_name(:postal_code).upcase %>: </strong></dt>
    <dd><%= @company.postal_code %></dd>
  </dl>
</section>

<section>
  <h3><%= Company.human_attribute_name(:domain).upcase %></h3>
  <p><%= @company.domain%></p>
</section>

<div>
  <%= link_to('Editar', edit_company_path(@company)) %>
</div>

<div>
  <%= link_to('Voltar', companies_path) %>
</div>