<h2>Veículos Ativos</h2>

<nav><%= link_to 'Cadastrar Veículo', new_vehicle_path %></nav>

<% if @vehicles.any? %>
  <table>
    <thead>
      <tr>
        <th><%= Vehicle.human_attribute_name(:v_brand) %></th>
        <th><%= Vehicle.human_attribute_name(:v_model) %></th>
        <th><%= Vehicle.human_attribute_name(:v_year) %></th>
        <th><%= Vehicle.human_attribute_name(:max_load) %></th>
        <th><%= Vehicle.human_attribute_name(:license_plate) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @vehicles.each do |v| %>
        <tr>
          <td><%= v.v_brand %></td>
          <td><%= v.v_model %></td>
          <td><%= v.v_year %></td>
          <td><%= v.max_load %> kg</td>
          <td><%= v.license_plate %></td>
          <td><%= link_to('Editar', edit_vehicle_path(v))%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não existem veículos ativos.</p>
<% end %>
  


